#prevents users from being able to see active directory
Options FollowSymLinks



#custom 404 page


RewriteEngine On



#leave this commented
#RewriteBase /


#user profile page: gamer-net/user/usernameGoesHere
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^(game|search|gameList|gamersPlaying)

RewriteRule ^user/(.*)$ page.php?page=dashboard&user=$1 [L]


#user gameList page: gamer-net/gameList/usernameGoesHere
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^(game|search|user)

RewriteRule ^gameList/(.*)$ page.php?page=gameList&user=$1 [L]


#game page
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^(user|search|gameList|gamersPlaying)

RewriteRule ^game/(.*)$ page.php?page=game&game=$1 [L]


#game page
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^(user|search|gameList|game)

RewriteRule ^gamersPlaying/(.*)$ page.php?page=gameList&game=$1 [L]

#search page
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^(user|game|gameList|gamersPlaying)

RewriteRule ^search/([^?]*)$ page.php?page=search&searchBox=$1&searchType=$2 [QSA,NC,L]
#RewriteRule ^search/([^/]*)/([^/]*)$ page.php?page=search&searchType=$1&searchBox=$2 [QSA,NC,L]



#golden rule
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^(user|game|search|gameList|gamersPlaying)

#redirects anything after gamer-net/ to a view
RewriteRule ^(.*)$ page.php?page=$1 [NC,L]



