            .panel-default {
                border-color: #171515;
            }
            
            #lg {
               
                background-color: #2E3338;
                color: #C8C8C8;
                
            }
            
            
            #dg {
                
                background-color: #272B30;
                color: #C8C8C8;
                
            }