<!-- Every library that needs to be included on every page should be loaded here in the order that they need to be loaded -->
<!-- Bootstrap must be imported after JQuery -->
<!-- Everything is relative to the stub's location!!! -->
<script src="view/js/jquery-2.2.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="view/css/bootstrap.min.css">
<!-- <link rel="stylesheet" type="text/css" href="/gamer-net/view/css/bootstrap-theme.min.css"> -->
<script src="view/js/bootstrap.min.js"></script>
<!-- <script src="/gamer-net/view/js/npm.js"></script> -->